/* Content */
.content-container {
  padding: 75px 200px;
  justify-content: center;
  align-items: center;
  width: 100%;
  z-index: 2;
}

.cta-btn {
  width: 200px;
  height: 50px;
}

.image-hero {
  display: hidden;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-column {
  width: 580px;
  font-size: 18px;
}

.text-column h1 {
  color: rgb(26, 58, 123);
}
.text-column p {
  color: #525f75;
  font-weight: 300;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

/* Item Showcase */

.showcase-item-container {
  margin-top: 300px;
  padding: 0 366px;
}

.showcase-title {
  font-size: 40px;
  color: rgb(26, 58, 123);
}

.showcase-item {
  display: flex;
  align-items: center;
  justify-content: center;
}

.showcase-text {
  font-size: 22px;
  font-weight: 300;
  color: #525f75;
}

/* Footer */
.footer-container {
  margin-top: 300px;
  position: relative;
  bottom: 0;
  left: 0;
  right: 0;
}

.footer-wrapper {
  padding: 30px;
  margin: 0 200px;
}

.copyright-footer {
  color: #788190;
}

.text-footer {
  font-size: 14px;
  color: #788190;
  align-items: center;
  justify-content: center;
  width: 350px;
}

.icon-contact {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

@media screen and (max-width: 1023px) {
  /* Tablet and smaller desktop styles */
}

@media screen and (max-width: 767px) {
  /* Mobile styles */

  /* Content */
  .text-column {
    width: auto;
  }

  /* Item Showcase */

  .showcase-left {
    margin-bottom: 50px;
  }

  .showcase-item-container {
    margin-top: 300px;
    padding: 0 30px;
  }

  .showcase-title {
    font-size: 40px;
    color: rgb(26, 58, 123);
    text-align: center;
  }

  .showcase-item {
    display: flex;
    align-items: center;
    justify-content: center;
  }

  .showcase-text {
    font-size: 16px;
    text-align: center;
  }

  /* Footer */

  .footer-wrapper {
    padding: 30px;
    margin: 0 10px;
  }

  .footer-container {
    margin-top: 30px;
  }

  .copyright-footer {
    font-size: 14px;
  }

  .text-footer {
    font-size: 11px;
    text-align: center;
    width: auto;
  }
}
