.homepage {
  padding: 75px 100px 75px 100px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  position: fixed;
}
.home__bg {
  background-image: url(../assets/home-bg.png);
  height: 557px;
  overflow: hidden;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-column h1 {
  color: rgb(26, 58, 123);
}
.text-column p {
  color: #525f75;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

.footer {
  padding-top: 30px;
  align-items: center;
  justify-content: center;
  display: flex;
}
