/* Content */
.content-container {
  padding: 75px 200px;
  justify-content: center;
  align-items: center;
  height: 100%;
  width: 100%;
  overflow: hidden;
  z-index: 2;
}

.image-hero {
  display: hidden;
  height: 500px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
}

.text-column {
  width: 580px;
}

.text-column h1 {
  color: rgb(26, 58, 123);
}
.text-column p {
  color: #525f75;
}

.home-message-icon {
  margin-left: 10px;
  display: inline-block;
}

/* Footer */
.footer-container {
  margin-top: 60px;
}

.footer-wrapper {
  margin: 50px 300px;
}

.copyright-footer {
  color: #545c69;
}

.text-footer {
  font-size: 14px;
  color: #788190;
  align-items: center;
  justify-content: center;
}

@media screen and (max-width: 1023px) {
  /* Tablet and smaller desktop styles */
}

@media screen and (max-width: 767px) {
  /* Mobile styles */

  /* Content */
  .text-column {
    width: auto;
  }

  /* Footer */

  .footer-container {
    margin-top: 30px;
  }

  .footer-wrapper {
    margin: 50px;
  }

  .text-footer {
    font-size: 11px;
  }
}
